@import 'settings';
@import 'foundation-emails';
@import 'template/template';

$primary-color: rgba(72,32,110,1);
$secondary-color: rgba(72,32,110,1);
$light-gray: #ddd;
$global-rounded: 0;
$global-width: 600px;

body,
p,
small,
table.body,
td,
th {
    color: rgba(0,0,0,.8);
    font-family: "Gill Sans", Helvetica;
}

p {
    font-size: $global-font-size - 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
}

a {
    font-weight: 600;
    color: $primary-color;

    &:hover {
        color: $primary-color * 2;
    }

    &:visited {
        color: $primary-color * 2;
    }
}

.small p {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    font-style: italic;
    color: rgba(0,0,0, .65);
}
// 5. Button
// ---------
//table.button table td {background-color: $primary-color; border: none;}
$button-padding: ( tiny: 4px 8px 4px 8px, small: 5px 10px 5px 10px, default: 8px 16px 8px 16px, large: 10px 20px 10px 20px, );
$button-font-size: ( tiny: 10px, small: 12px, default: 16px, large: 20px, );
$button-color: $secondary-color;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0;
$global-margin: 0;
$button-background: $secondary-color;
$button-border: none;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

table.button table td {
    background: $secondary-color;
    border: none;
}

#sidemenu-header {
    color: #46166b;
    font-family: arial,verdana,sans-serif;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffffff;
    border-color: #ffffff;
    border: none;
}

#sidemenu {
    color: white;
    font-family: arial,verdana,sans-serif;
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    background-color: #46166b;
    border-style: solid;
    border-color: #ffffff #ffffff #ffffff #ffffff;
}

#sidemenu a {
    color: #fff;
    text-decoration: none;
}

#sidemenu-bottom {
    background-color: #ffffff;
    color: #46166b;
    border: none;
}

#topmenu a {
    color: #fff;
}

#mainbody {
    color: #000000;
    font-family: arial,verdana,sans-serif;
    font-size: 80%;
}
