<!-- footer.imprint row -->
<spacer size="20"></spacer>
<row class="footer">
  <columns small="12" large="4">
    <center>
    <img alt="Waldorf University Logo" src="http://www.waldorf.edu/Waldorf2016/media/Waldorf-Email-Images/Waldorf_Horizontal_Email_240.png" />
    </center>
  </columns>
  <columns small="12" large="8">
    <small><center class="small">106 South 6th St. | Forest City, IA 50436<br />
      <a href="tel:+18002921903">800.292.1903</a> residential | <a href="tel:+18772672157">877.267.2157</a> online<br />
        Copyright &copy; 2017
    </center></small>
  </columns>
</row>

<!-- End footer.imprint row -->
