<columns large="4" small="12" class="sidebar">
  <td valign="top" width="180">
  <table align="center" border="1" cellpadding="0" cellspacing="0" id="sidemenu" width="100%">
    <tbody>
      <tr>
        <td align="center" height="60" class="text-center" style="vertical-align:middle;"><a href="https://im.columbiasouthern.edu/WaldorfAgentInterface/PreChatSurveyAll.aspx?aq4=29&amp;aq3=27&amp;aq2=25&amp;aq1=24&amp;accountid=3&amp;siteid=6&amp;queueid=23&amp;jquery=false&amp;json=false&amp;skipsurvey=false">LET&#39;S CHAT</a></td>
      </tr>
      <tr>
        <td align="center" height="60" class="text-center" style="vertical-align:middle;"><a href="mailto:onlineadmissions@waldorf.edu?subject=Request%20Phone%20Call">Request Call</a></td>
      </tr>
      <tr>
        <td align="center" height="60" class="text-center" style="vertical-align:middle;"><a href="mailto:unsubscribe@waldorf.edu?subject=Unsubscribe">Not Interested</a></td>
      </tr>
    </tbody>
  </table>
  </td>
</columns>
